# Java
target/
*.class
*.log

# Spring config
application-local.yml
application-dev-local.yml
.env
.env.local
.env.*.local

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Docker data
infrastructure/mysql/data/
infrastructure/redis/data/

# build cache
*.pid
*.lock
